.header-issue {
    background-color: #ffbb00;
    padding:20px 0 ;
    .txt-seach {
        color: #e7e7e7;
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 900;
        font-family: Arial;
        width: 100vw;
        padding: 10px;
        margin-left:70px ;
        cursor: pointer;
    }
}
.space{
    margin: 0 70px;
}